/* tables 
*****************/
table{ 
  overflow-y: auto;
  border-collapse: collapse;
}

thead{
  border:solid 3px;
}

th{
  width: 480px;
  min-width: 480px;
  border:solid 1px;
  padding: 5px;
  text-align: center;
  height:55px
}

.nextbtn_left{
  width:100px;
  left:1rem;
  margin-bottom: 1px;
  background-color: transparent;
  color: #fff;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
}

tbody{
}

td{
  width: 480px;
  min-width: 480px;
  border: 1px solid black;
  padding: 5px;
  text-align:center;
  height:280px;
}